* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  /* 🔥🔥 Header 🔥🔥  */
  .header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #61191C ;
  }
  .innerHeader{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
  }
  .logoContainer{
    height: 100%;
    display: table;
    float: left;
  }
  .logoContainer h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 200;
  }
  .navigation{
    float: right;
    height: 100%;
  }
  .navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    cursor: pointer;
  }
  .navigation a:last-child {
    padding-right: 0;
  }
  .navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-size: 16px;
  }