.form {
    background-color: lightyellow;
    padding: 50px 30px;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .form h1 {
        font-size: 30px;
    }
}
@media screen and (max-width: 500px) {
    .form h1 {
        font-size: 20px;
    }
}