.dashDateContainer {
    display: flex;
    flex-direction: column;
}

.dashDateButton {
    margin: 1em auto;
    width: 10%;
}

.dashboardHr {
    width: 7%;
    border: 2px var(--main-red) solid;
    margin: 1em auto;
}