.heroImg {
    height: 100vh;
    width: 100%;
    background-image: url('../../public/images/garagePlaceholder-min.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroTitle {
    color: white;
    text-align: center;
    font-size: 2.25rem;
    font-family: 'Chau Philomene One', sans-serif;
}

.heroText {
    width: 65%;
    margin: 1em 0;
    padding-bottom: 1.5rem;
    color: white;
    font-size: 1.25em;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.button {
    padding: .75rem;
    background-color: rgb(54, 54, 214);
    border-radius: 14px;
    border: 2px solid rgb(54, 54, 214);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

@media (min-width: 768px) {
    .heroTitle {
        font-size: 4.5em;
    }

    .heroText {
        width: 35%;
        font-size: 1.75rem;
    }
}