.heroImg {
    height: 100vh;
    width: 100%;
    background-image: url('../../public/images/garagePlaceholder.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroTitle {
    color: white;
    font-size: 6em;
    font-family: 'Chau Philomene One', sans-serif;
}

.heroText {
    width: 25%;
    margin: 1em 0;
    padding-bottom: 1.5rem;
    color: white;
    font-size: 2em;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

@media (max-width: 768px) {
    .heroTitle {
        text-align: center;
        font-size: 2.25rem;
    }

    .heroText {
        width: 65%;
        font-size: 1.25rem;
        text-align: center;
    }
}