.btnDiv {
    padding: 2.5rem;
    text-align: center;
}

.btn {
    width: 30%;
    margin: .4em auto;
    padding: .5em 0;
    border: 2px solid rgba(31, 31, 31, 0.801);
    border-radius: 14px;
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

@media screen and (max-width: 400px) {
    .btn {
        width: 40%;
    }
}

@media screen and (min-width: 1024px) {
    .btn {
        width: 15%;
    }
}