.mainfooter {
    color: white;
    background-color: #61191C;
    margin-top: 0.5em;
    padding-top: 1em;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 1rem;
}

.heading {
    font-size: 1.4rem;
}
.mainfooter a {
    color: white;
}
.footer {
    margin-top: 1em;
    font-size: 1rem;
    text-align: center;
}
.mainfooter a {
    color: #fff;
}
.employee:hover {
    cursor: pointer;
}
@media only screen and (max-width: 992px) {
    .mainfooter {
        padding: 1.5em 0;
        margin-top: 0;
        font-size: 0.75rem;
        text-align: center;
    }

    .heading {
        font-size: 1rem;
    }

    .footer {
        font-size: .75rem;
        padding: 0 2rem;
    }
}
