.mainfooter {
    color: white;
    background-color: #61191C;
    margin-top: 3em;
    height: 15em;
    padding-top: 3em;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

.footer {
    text-align: center;
}