.aboutBody {
    padding-top: 2em;
    padding-bottom: 4em;
}

.heading {
    padding: 3em 0 1.5em 0;
    text-align: center;
    font-family: 'Chau Philomene One', sans-serif;
}

.aboutHr {
    margin: 0 auto;
    width: 15%;
    border: 1px solid rgb(161, 11, 11);
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto 1em;
    font-size: 18px;
    line-height: 1.6;
    font-family: 'Source Sans Pro', sans-serif;
}

.text > p {
    margin-bottom: 1.75rem;
}

.anchor {
    color: black;
} .anchor:hover {
    text-decoration: none;
    color: black;
}

.boldText {
    font-weight: 700;
}

.carouselContainer {
    width: 50%;
    margin: auto;
    background: #000;
}

.d-block {
    height: auto;
}


@media screen and (min-width: 1024px) {
    .text {
        margin-right: 2em;
        font-size: 20px;
        text-align: left;
    }

    .container {
        width: 75vw;
        margin: 0 auto;
        padding: 1.5rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .heading {
        padding: 4em 0 3em 0;
    }

    .aboutHr {
        width: 5%;
    }

    .d-block {
        width: 400px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1024px) {
    .d-block {
        width: 325px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 350px) {
    .d-block {
        width: 300px;
        margin: 0 auto;
    }
}