.aboutBody {
    padding-bottom: 4em;
}

.heading {
    padding: 3em 0 1.5em 0;
    text-align: center;
    font-family: 'Chau Philomene One', sans-serif;
}

.aboutHr {
    margin: 0 auto;
    width: 15%;
    border: 1px solid rgb(161, 11, 11);
}

.container {
    width: 100%;
    margin: 1em auto;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text {
    display: flex;
    flex-direction: column;
    width: 75vw;
    margin: 0 auto 1em;
    font-size: 18px;
    line-height: 1.6;
    font-family: 'Source Sans Pro', sans-serif;
}

.text > p {
    margin-bottom: 1.75rem;
}

.boldText {
    font-weight: 700;
}

.imageDiv {
    margin: 1em auto;
}

.image {
    height: auto;
    margin: 0 auto;
}

@media (min-width: 1024px) {
    
    .text {
        width: 55vw;
        margin-right: 1.5em;
        font-size: 20px;
        text-align: left;
    }

    .container {
        width: 65vw;
        margin: 1.5em auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .heading {
        padding: 4em 0 3em 0;
        
    }

    .aboutHr {
        width: 5%;
    }

    .image {
        width: 400px;
        margin: 0 auto;
    }
    
   
}

@media (max-width: 1024px) {
    .image {
        width: 325px;
        margin: 0 auto;
    }
}